.aboutTable {
  text-align: left;
  width: 420px;
  height: auto;
  margin-bottom: 20px;
  border-collapse: collapse;
}
.aboutTable th {
  font-weight: bold;
  padding: 5px;
  /* background: #efefef; */
  border-bottom: 1px solid #dddddd;
}
.aboutTable td {
  border-bottom: 1px solid #dddddd;
  padding: 5px;
}
.aboutTable tr td:first-child,
.aboutTable tr th:first-child {
  border-left: none;
  border-right: none;
  font-weight: normal;
}
.aboutTable tr td:last-child,
.aboutTable tr th:last-child {
  border-right: none;
  border-left: none;
}
th > p {
  display: inline-block;
  padding-left: 5px;
}
th > a {
  display: inline-block;
  padding-left: 5px;
  text-decoration: none;
  color: darkgreen;
}
th > a:hover {
  color: lawngreen;
  text-decoration: none;
}
.tooltip {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 200px;
  height: 100px;
}

.tooltipimg {
  height: 100px;
  width: 70px;
}
.tooltiprating {
  display: flex;
  align-items: center;
  justify-content: center;
  size: 12px;
  height: 100px;
  width: 70px;
  background-color: green;
}
