.firstColumn {
  width: auto;
  padding: 40;
  height: auto;
}
.filmTop {
  display: flex;
  justify-content: space-between;
}
.filmPic img {
  width: 220px;
  height: 330px;
  border-radius: 3px;
}
.secondColumn {
  height: auto;
  width: 420px;
}
.filmName {
  text-align: left;
}

.thirdColumn {
  height: auto;
  width: 180px;
}
