.film_list_table {
  display: flex;
  justify-content: space-between;
  text-align: left;
  border-bottom-style: solid;
}
.film_rating {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu div {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu div:hover {
  cursor: pointer;
  background-color: #777;
}
