footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: rgb(117, 129, 115);
  position: relative;
  bottom: 0;
  left: 0;
}
footer .svg {
  width: 100px;
  height: 30px;
  padding-top: 10px;
}

footer .rslink {
  padding-top: 20px;
}

.footerauthor > p {
  margin: 5px;
}

.footerauthor > p > a {
  text-decoration: none;
  color: darkgreen;
  text-shadow: 0 1px black;
}

.footerauthor > p > a:hover {
  color: lawngreen;
  text-shadow: 0 1px rgb(206, 252, 0);
}

.rslink > a {
  margin-right: 30px;
  text-decoration: none;
  color: darkgreen;
  text-shadow: 0 1px black;
}

.rslink > a:hover {
  color: lawngreen;
  text-shadow: 0 1px rgb(206, 252, 0);
}
